.bookContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 50px;
    padding: 20px;
}

.searchContainer {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.searchInput {
    width: 80%;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid #ddd;
    font-size: 1.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 10px solid black;
}

.bookItem {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bookItem:hover {
    transform: scale(1.05);
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.3);
}

.bookImage {
    width: 120%;
    height: 90%;
    margin-bottom: 10px;
    cursor: pointer;
}

.bookDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.bookItem h2 {
    font-size: 1.2em;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.bookItem p {
    margin: 5px 0;
}

/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
}

.modalBody {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.modalImage {
    width: 30%;
    height: auto;
}

.modalDescription {
    width: 70%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}